include README.srt
recursive-include docs *.rst *.png *.pdf
include docs/conf.py
include docs/common.py
include docs/updatelibdoc.py
include docs/make.bat
include docs/objects.inv
include docs/Makefile
recursive-include micmec *.pyx *.pxd *.h *.c
recursive-exclude micmec ext.c
recursive-include data *
recursive-include simulations *
